/* Navigation bar styles */
nav > ul {
    display: flex;
    justify-content: space-around;
}
nav > ul li {
    text-align: center;
    flex-basis: 33.3%;
}

nav > ul li a {
    text-decoration: none;
    color: red;
    font-size: 120%;
}
ul {
    list-style-type: none;
    padding-inline-start: 0;
}
.dropdown-parent {
    position: relative;
}
/* TODO Make the dropdown menu look nice bro showing/hiding sorted */
.dropdown-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    padding-top: 10px;
    width: fit-content;
    margin-top: 44px;
    margin: 0 auto;
    display: none;
}
.dropdown-toggle:hover + .dropdown-menu, .dropdown-menu:hover {
    display: block;
}
.dropdown-toggle {
    width: fit-content;
}
.dropdown-menu li {
    margin-bottom: 3px;
}
/* END */

/* login form styles */
.h-screen-80 {
    height: 80vh;
}

/* END */
