/* Navigation bar styles */
.dropdown-parent {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    margin-top: 44px;
    margin: 0 auto;
    visibility: hidden;
}
.dropdown-toggle:hover + .dropdown-menu, .dropdown-menu:hover {
    visibility: visible;
}
.dropdown-toggle {
    width: fit-content;
}
/* END */

/* login form styles */
.h-screen-80 {
    height: 80vh;
}
/* END */

/* Home page styles */
.h-screen-60 {
    height: 60vh;
}
/* END */

/* Service 1 page styles */
.h-screen-40 {
    height: 40vh;
}
.webkit-box {
    display: -webkit-box;
}
/* END */

