<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Arnas Montrimas">

        <!-- Link Stylesheet -->
        <link rel="stylesheet" href="../css/common.css">
        
        <!-- Tailwindcss (helps me style pages) -->
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

        <!-- Js -->
        <script defer src="../js/alert.js"></script>
        <script defer src="../js/executeService.js"></script>

        <title>JWT_CA3</title>
    </head>
